* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #F2E088;
    padding-bottom: 40px;
}

header {
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    
}

h1{
    font-size: 45px;
    color: #590A10;
    font-family: "Edu NSW ACT Cursive", cursive;
}

#buttonContainer {
    outline: 1px solid #8C8564;
    height: 640px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 12px;
    border-radius: 3px;
    
    margin-top: 60px;
    box-shadow: 2px 5px 8px  #590A10;
    background: #8C8564;
}

button {
    height: 50px;
    width: 150px;
    box-shadow: 2px 5px 8px  #590A10;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 400;
    font-size: medium;
    background: #D9C58B;
    border: none;
    
}

button:hover {
    transform: translateY(-2px);
}

 button.active {
  background-color: #590A10;
  color: #D9C58B;
  box-shadow: 2px 5px 8px #D9C58B;
  transform: translateY(1px);
 }

#container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid #D9C58B;
    box-sizing: border-box;
    width: 640px;
    height: 640px;
    padding: 0;
    margin: 0;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 5px 8px  #590A10;
}

#container div {
    
    
    width: 40px;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
    
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    max-width: 100vw;
    height: 100vh;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rgbControls {
    width: 640px;
    margin-top: 5px;
    position: relative;
}

#hueSlider {
    width: 100%;
    height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0 0 5px black;
    appearance: none;
    background: linear-gradient(to right,
    hsl(0, 100%, 65%),
    hsl(60, 100%, 65%),
    hsl(120, 100%, 65%),
    hsl(180, 100%, 65%),
    hsl(240, 100%, 65%),
    hsl(300, 100%, 65%),
    hsl(360, 100%, 65%));
    cursor: pointer;
    outline: none;
}

#zoomBubble {
    position: absolute;
    
    top: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    pointer-events: none;
    transform: translateX(-50%);
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.1s ease;
}

input[type="range"]::-webkit-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s;
}

.square {
    transition: background-color 0.4s ease;
}

#gridSizesSlider {
    -webkit-appearance: none;
    background: linear-gradient(to right,#590A10 0%, white 0%);
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    height: 8px;
    width: 150px;
}

#gridSizesSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:#D9C58B;
    height: 24px;
    width: 24px;
    border-radius: 10px;
    box-shadow: 0 0 4px #590A10;
}

.gridSize {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-size: 12px;
}

