* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #F2E088;
}

header {
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    
}

h1{
    font-size: 48px;
    color: #590A10;
}

#buttonContainer {
    border: 1px solid black;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 12px;
    border-radius: 3px;
    width: 200px;
    margin-top: 60px;
    box-shadow: 2px 5px 8px  #590A10;
}

button {
    height: 50px;
    width: 150px;
    box-shadow: 2px 5px 8px  #590A10;
    
    
}

button:hover {
    
}

 button.active {
  background-color: #590A10;
  color: #D9C58B;
  border: 2px solid #222;
 }

#container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
    box-sizing: border-box;
    width: 640px;
    height: 640px;
    padding: 0;
    margin: 0;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 5px 8px  #590A10;
}

#container div {
    
    
    width: 40px;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
    
}

.mainContent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rgbControls {
    width: 640px;
    margin-top: 5px;
    position: relative;
}

#hueSlider {
    width: 100%;
    height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0 0 5px black;
    appearance: none;
    background: linear-gradient(to right,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%));
    cursor: pointer;
    outline: none;
}

#zoomBubble {
    position: absolute;
    
    top: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    pointer-events: none;
    transform: translateX(-50%);
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.1s ease;
}

input[type="range"]::-webkit-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

